@font-face{
  font-family: "PFBeauSansPro"; 
  src: url("PFBeauSansPro.ttf");
}

@font-face{
  font-family: "Open Sans"; 
  src: url("Open_Sans.ttf");
}
html{
  background: url("403.jpg") 100% 100% no-repeat;
  background-size: cover;
  height: 100%;
}

.error{
  height: 200px;
  width: 300px;
  position: absolute;
  top:45%;
  left: 42%;
}

.error403{
  margin: 0 0 30px 0;
  width: 100%;
  height: 105px;
  float: left;
  background: url("403.png") no-repeat;
}

.error404{
  margin: 0 0 30px 0;
  width: 100%;
  height: 105px;
  float: left;
  background: url("404.png") no-repeat;
}

.error503{
  margin: 0 0 30px 15px;
  width: 100%;
  height: 105px;
  float: left;
  background: url("503.png") no-repeat;
}

.error-message{
  width: 306px;
  margin-left: 5px;
  color: #fff;
  font: 31px PFBeauSansPro, arial;
  text-transform: lowercase;
  text-align: left;
  float: left;

}

.error404-message{
  width: 306px;
  margin-left: -15px;
  color: #fff;
  font: 31px PFBeauSansPro, arial;
  text-transform: lowercase;
  text-align: left;
  float: left;

}

.pop-up-window{
  width: 450px;
  height: 225px;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0,0,0,.25);
}

.pop-up-window__header{
  width: 100%;
  height: 50px;
  box-sizing:border-box;
  padding: 0 0 0 25px;
  background: url("pop-up-window-header.jpg");
  border-radius: 3px 3px 0 0;
  color: #fff;
  text-align: left;
  font: 14px/50px "Open Sans", arial;
}

.pop-up-window__header-comeback{
  padding: 0 30px 0 0;
  float: right;
  color: #fff;
  text-decoration: none;
  font: 13px/50px "Open Sans", arial;
}

.pop-up-window__header-comeback:hover{
  text-decoration: underline;
}

.link-for-friend{
  width: 410px;
  height: 40px;
  margin: 20px auto;
  padding: 0 0 0 12px;
  box-sizing:border-box;
  background: #fff;
  border: 1px solid #e293d3;
  box-shadow: 0 0 15px rgba(163, 70, 146,.25), inset 0 1px 3px rgba(0,0,0,.05);
  border-radius: 5px;
  color: #666666;
  font:  13px/40px "Open Sans", arial;
  text-align: left;
}

.link-todo{
  width: 410px;
  height: 30px;
  margin: 0 auto 30px;
  color: #666666;
  border-top: 1px solid #e2e2e2;
  text-align: center;
  font: 12px/14px "Open Sans", arial; 

}

.forget-link{
  width: 410px;
  height: 30px;
  display: block;
  margin: 0 auto;
  color: #427ec1;
  border-top: 1px solid #e2e2e2;
  text-align: center;
  font: 12px/19px "Open Sans", arial;
  text-decoration: underline solid #d9e2f0;
}

.forget-link:hover{
  text-decoration: underline solid #427ec1;
}


