.profile_update-photo {
  width: 515px;
  height: 490px;
}

* {
text-decoration: none;
  box-sizing: border-box;
}

.update-photo {
  width: 515px;
  height: 430px;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #404b67;
}

h2 {
  color: #333333;
  font: 400 20px / 18px OpenSans;
  margin-left: 20px;
}

h2 > a {
  width: 14px;
  height: 14px;
  display: block;
  float: right;
  background: url("../img/CLOSE.png");
  margin-right: 20px;
}

p {
  color: #666666;
  font: 400 13px / 18px OpenSans;
  margin: 20px;
}

.update-photo_field {
  width: 461px;
  height: 276px;
  margin: auto;
  border-radius: 3px;
  border: 2px dashed #e6ecf1;
  background-color: rgba(230, 236, 241, 0.4);
}

.cloud_icon {
  width: 111px;
  height: 95px;
  margin: 30px auto;
  background: url("../img/-UPLOAD-copy.png");
}

.drag_here {
  color: #a7b5c2;
  font: 400 14px / 14px Arial;
  padding-left: 130px;
}

.or {
  color: #c3c8cc;
  font: 400 14px / 14px Arial;
  padding-left: 218px;
  padding-top: 10px;
}

.update-file {
  position: relative;
}

.update-file-input {
  position: absolute;
  margin-left: 120px;
  opacity: 0;
  width: 230px;
  height: 45px;
  cursor: pointer;
}

.upload_btn {
  width: 230px;
  height: 45px;
  border-radius: 3px;
  background-color: #4e79b3;
  color: #ffffff;
  font: 400 13px / 14px Arial;
  text-align: center;
  line-height: 45px;
  margin-top: 20px;
  margin-left: 120px;
  display: block;
}